/* menu */
@media (min-width: 1200px) {
    .header-menu .menu > .menu-item-has-children {
        position: relative;
    }

    .header-menu .menu > .menu-item-has-children::after {
        content: '';
        position: absolute;
        left: calc(100% - 11px);
        top: 50%;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: #dcdcdc transparent transparent transparent;
    }

    .header-menu .menu > .menu-item-has-children:hover > ul {
        display: block;
    }

    .header-menu .menu > .menu-item-has-children > ul {
        position: absolute;
        z-index: 1;
        left: 30px;
        top: 100%;
        border-radius: 6px;
        background-color: #484848;
        display: none;
    }

    #header .header-menu-box .header-menu ul > .menu-item-has-children > ul > li {
        display: block;
    }

    #header .header-menu-box .header-menu ul > .menu-item-has-children > ul > li > a {
        color: #ffffff;
        border-radius: 0;
    }

    #header .header-menu-box .header-menu ul > .menu-item-has-children > ul > li > a:hover,
    #header .header-menu-box .header-menu ul > .menu-item-has-children > ul > li > a:focus {
        background-color: rgba(196, 196, 196, 0.2);
    }
}

/* menu */

html {
    scroll-behavior: smooth;
}

.lh-115 {
    line-height: 1.15;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-marked {
    background-image: linear-gradient(to bottom, transparent 50%, #FFF6B1 50%);
}

.underlined-bottom {
    display: inline-block;
    border-bottom: 2px solid #02945D;
}

.bg-green-light {
    background-color: #f3f9f1;
    transition: 0.4s;
}

.bg-green-light:hover {
    background-color: #e4f1df;
}

.bg-orange-light {
    background-color: #f9f6f1;
    transition: 0.4s;
}

.bg-orange-light:hover {
    background-color: #f1eadf;
}

.bg-violet-light {
    background-color: #f1f2f9;
    transition: 0.4s;
}

.bg-violet-light:hover {
    background-color: #dfe2f1;
}

.bg-mint-light {
    background-color: #f1f9f7;
    transition: 0.4s;
}

.bg-mint-light:hover {
    background-color: #dff1ed;
}

.p-landing {
    background-repeat: no-repeat;
    background-size: 100% 930px;
    background-image: linear-gradient(0deg, #ffffff 0%, #b8d4c3 100%),
    radial-gradient(100% 224.43% at 0% 0%, #FCC482 0%, #002E74 100%),
    linear-gradient(121.28deg, #FFD464 0%, #00553B 100%),
    linear-gradient(229.79deg, #7534FF 0%, #248900 94.19%),
    radial-gradient(56.26% 101.79% at 50% 0%, #8F00FF 0%, #493500 100%),
    linear-gradient(96.19deg, #500052 3.37%, #D5B300 96.63%);
    background-blend-mode: overlay, screen, lighten, hard-light, screen, normal;
}

.landing-header {
    border-top: 1px solid #ffffff;
    padding: 100px 0;
    min-height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 70px;
}

.landing-header .text-marked {
    background-size: calc(100% - 50px);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.landing-header .btn-wrap {
    display: flex;
    justify-content: center;
}

.landing-header .btn + .btn {
    margin-left: 25px;
}

.landing-header .btn.btn-outline-success {
    color: #02945D;
}

.landing-header .btn.btn-outline-success:hover {
    background-color: #00A769;
    color: #ffffff;
}

.landing-slogan {
    margin-bottom: 175px;
}

.landing-partner {
    margin-bottom: 75px;
}

.landing-partner .text-balloon {
    background-color: #505050;
    color: #ffffff;
    width: 340px;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 80%;
    font-size: 16px;
    font-weight: normal;
}

.landing-partner .text-balloon::before {
    border-left: 12px solid #505050;
}

.landing-partner__card {
    padding: 30px;
    border-radius: 6px;
    height: 100%;
}

.landing-partner__card:hover {
    box-shadow: 0 3px 20px rgba(124, 124, 124, 0.16);
}

.landing-partner__card-header {
    display: flex;
    align-items: center;
}

.landing-partner__card-icon {
    height: 60px;
    flex-shrink: 0;
    margin-right: 5px;
}

.landing-partner__card-title {
    font-size: 18px;
    font-weight: bold;
}

.landing-partner__card ul {
    column-count: 2;
    padding-left: 20px;
}

.landing-partner__card p:last-child,
.landing-partner__card ul:last-child {
    margin-bottom: 0;
}

.landing-steps {
    margin-bottom: 75px;
}

.landing-steps__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    counter-reset: li;
}

.landing-steps__card {
    position: relative;
    padding: 15px 30px 15px 100px;
    border-radius: 6px;
    background-color: #f3f9f1;
    margin-bottom: 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.landing-steps__card:hover {
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(177, 177, 177, 0.16);
}

.landing-steps__card::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #02945d;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    transition: 0.4s;
}

.landing-steps__card:hover::before {
    background-color: #f3f9f1;
}

.landing-steps__card-title {
    font-size: 18px;
    line-height: 1.15;
    font-weight: bold;
    margin-bottom: 4px;
    transition: 0.4s;
}

.landing-steps__card:hover .landing-steps__card-title {
    color: #02945d;
}

.landing-steps__card p {
    font-size: 14px;
    margin-bottom: 0;
}

.landing-methods {
    margin-bottom: 40px;
}

.landing-methods__card {
    border-radius: 4px;
    border: 1px solid #f7f6f6;
    padding: 30px;
    height: 100%;
    box-shadow: 0 10px 10px rgba(177, 177, 177, 0.16);
    transition: 0.25s;
}

.landing-methods__card:hover {
    border-color: #02945D;
    box-shadow: 0 10px 20px rgba(177, 177, 177, 0.4);
}

.landing-methods__card-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.landing-methods__card-icon {
    height: 50px;
    flex-shrink: 0;
    margin-right: 20px;
}

.landing-methods__card-title {
    font-size: 18px;
    font-weight: bold;
}

.landing-methods__card p:last-child,
.landing-methods__card ul:last-child {
    margin-bottom: 0;
}

.section-tariff--extended {
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-image: linear-gradient(#ffffff 0%, #f5f8f7 100%);
}

.section-tariff--extended .nav-tariff {
    float: right;
    overflow: hidden;
    border: 1px solid #dddddd;
    border-radius: 5px;
    flex-wrap: nowrap;
}

.section-tariff--extended .nav-tariff .nav-right{
    border-right: 1px solid #dddddd;
}

.section-tariff--extended .nav-tariff .nav-left{
    border-left: 1px solid #dddddd;
}

.section-tariff--extended .nav-tariff a {
    color: inherit;
    text-decoration: none;
    padding: 12px 35px;
}

.section-tariff--extended .nav-tariff a:hover,
.section-tariff--extended .nav-tariff a.active {
    background-color: #f3f5f4;
}

.section-tariff--extended .tariff {
    box-shadow: 0 50px 70px rgba(177, 177, 177, 0.16);
}

.section-tariff--extended .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section-tariff--extended .panel .panel-body {
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
}

.section-tariff--extended .panel .panel-footer {
    margin: auto 20px 0;
    padding: 25px 0 2rem;
    border-top: 1px solid #F6F8F7;
}

.section-tariff--extended .tariff .descr {
    font-size: 12px;
    color: #02945D;
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 28px;
}

.section-tariff--extended .tariff .title {
    margin-bottom: 8px;
}

.section-tariff--extended .tariff .price-wrap {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 4px;
}

.section-tariff--extended .tariff .price {
    color: inherit;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

.section-tariff--extended .tariff .mark {
    font-size: 14px;
    background-color: #fff6b1;
    display: inline;
}

.section-tariff--extended .tariff .contract {
    font-size: 14px;
    color: #d17e40;
    margin-top: 8px;
    margin-bottom: 20px;
}

.section-tariff--extended .tariff .btn {
    font-size: 14px;
}

.landing-tools {
    margin-bottom: 70px;
}

.landing-tools__card {
    border-radius: 6px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    height: 100%;
    min-height: 105px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 20px rgba(124, 124, 124, 0.16);
    transition: 0.25s;
}

.landing-tools__card:hover {
    border-color: #02945D;
    box-shadow: 0 3px 20px rgba(124, 124, 124, 0.4);
}

.landing-faq {
    margin-bottom: 110px;
}

.landing-faq__item {
    margin-bottom: 12px;
    border-radius: 6px;
    transition: 0.4s;
}

.landing-faq__item.active {
    box-shadow: 0 10px 30px rgba(177, 177, 177, 0.16);
}

.landing-faq__question {
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.25;
    font-weight: bold;
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-faq__item:not(.active) .landing-faq__question:hover {
    box-shadow: 0 3px 20px rgba(124, 124, 124, 0.16);
}

.landing-faq__item.active .landing-faq__question {
    background-color: #ffffff;
}

.landing-faq__question:focus {
    box-shadow: none;
}

.landing-faq__question::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-left: 15px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 7.2'%3E%3Cg fill='%23262a2b' transform='rotate(90 6 6)'%3E%3Crect width='1.697' height='8.486' rx='.849' transform='rotate(-45 1.449 .6)'/%3E%3Crect width='1.697' height='8.486' rx='.849' transform='rotate(45 -2.793 9.642)'/%3E%3C/g%3E%3C/svg%3E");
    transition: background-color 0.4s;
}

.landing-faq__item.active .landing-faq__question::after {
    background-color: #f3f9f1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.414 8.615'%3E%3Cg fill='%2302945d' stroke='rgba(0,0,0,0)' transform='rotate(-90 4.308 3.6)'%3E%3Crect width='1.697' height='8.486' rx='.849' transform='rotate(45 -2.793 9.642)'/%3E%3Crect width='1.697' height='8.486' rx='.849' transform='rotate(-45 1.449 .6)'/%3E%3C/g%3E%3C/svg%3E");
}

.landing-faq__answer {
    padding: 0 30px 30px;
}

.landing-consult {
    padding: 60px 0 30px;
}

@media (max-width: 1199px) {
    .section-tariff--extended .tariff .price-wrap {
        font-size: 24px;
    }
}

@media (max-width: 991px) {
    .landing-header .text-marked {
        background-size: 100%;
    }

    .landing-slogan__img {
        margin-bottom: 30px;
    }

    .section-tariff--extended .h1 {
        font-size: 2rem;
    }

    .section-tariff--extended .nav-tariff a {
        padding: 12px 28px;
    }

    .section-tariff--extended .tariff .price-wrap {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .landing-partner .text-balloon {
        left: 0;
    }

    .section-tariff--extended .row .col-12:not(:first-child) {
        margin-top: 0;
    }

    .section-tariff--extended .nav-tariff {
        float: none;
    }

    .section-tariff--extended .nav-tariff a {
        flex-grow: 1;
        text-align: center;
        padding: 12px 20px;
    }

    .section-tariff--extended .panel {
        margin-top: 30px;
        height: auto;
    }
}

@media (max-width: 575px) {
    .landing-header {
        padding-top: 50px;
        margin-bottom: 75px;
    }

    .landing-slogan {
        margin-bottom: 75px;
    }

    .landing-partner .text-balloon {
        display: none;
    }

    .landing-partner__card ul {
        column-count: initial;
    }

    .landing-steps__card {
        padding: 15px 20px;
    }

    .landing-steps__card::before {
        display: none;
    }

    .landing-steps__card-title::before {
        content: counter(li) '.';
        counter-increment: li;
        color: #02945d;
        margin-right: 3px;
    }

    .landing-faq {
        margin-bottom: 75px;
    }

    .section-tariff--extended .panel .panel-body {
        padding: 1rem;
    }

    .section-tariff--extended .tariff .descr {
        position: static;
        margin-bottom: 4px;
    }

    .section-tariff--extended .panel .panel-footer {
        margin: 0 1rem;
        padding: 1rem 0;
    }
}
