.lh-1 {
    line-height: 1;
}

.fs-50 {
    font-size: 50px;
}

.p-packs {
    background-color: #f5f5f5;
}

.p-packs__title-wrap {
    margin-bottom: 30px;
}

.p-packs__title-wrap h1 {
    margin-bottom: 0;
}

.p-packs__title-wrap select.form-control {
    height: 40px !important;
    padding: 0 50px 0 20px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6'%3E%3Cpath d='M4.5 6L0 0h9z' fill='%23c4c4c4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.p-packs__title-wrap .custom-control-label {
    font-size: 14px;
    line-height: 1.5rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #02945d;
}

.pack-list [class^="col"] {
    display: flex;
}

.pack-item {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: none;
    margin-bottom: 30px;
    transition: 0.4s;
}

.pack-item:hover {
    box-shadow: 0 0 30px 0 #cccccc;
}

.pack-item__img-wrap {
    height: 200px;
    border-radius: 6px 6px 0 0;
    position: relative;
    overflow: hidden;
}

.pack-item__img-wrap.bg-success {
    background-color: #6eba64 !important;
}

.pack-item__img-wrap.bg-warning {
    background-color: #f3d056 !important;
}

.pack-item__img-wrap.bg-dark {
    background-color: #ff3f3f !important;
}

.pack-item__img-wrap.bg-info {
    background-color: #7bc9dd !important;
}

.pack-item__img-wrap.bg-danger {
    background-color: #ffa27b !important;
}

.pack-item__img-wrap.bg-primary {
    background-color: #87bbfd !important;
}

.pack-item__img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: 50% 100%;
    transition: 0.4s;
}

.pack-item:hover .pack-item__img {
    transform: scale(1.07);
}

.pack-item__descr {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 225, 90, 0.89);
    padding: 8px 30px;
}

.pack-item__panel {
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6fbf2;
}

.p-packs .badge {
    font-size: 11px;
    font-weight: normal;
    border-radius: 3px;
    padding: 7px;
    z-index: 1;
    transition: 0.25s;
}

.p-packs .badge.badge-warning {
    background-color: #f5be58;
}

.p-packs .badge.badge-danger {
    background-color: #ffa27b;
    color: #333333;
}

.p-packs .badge.badge-primary {
    background-color: #87bbfd;
    color: #333333;
}

.p-packs .badge.badge-warning:hover {
    background-color: #f3b138;
}

.p-packs .badge.badge-danger:hover {
    background-color: #fe8755;
}

.p-packs .badge.badge-primary:hover {
    background-color: #60a5fc;
}

.pack-item .badge-likes {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px 7px;
}

.pack-item .badge-likes .fa-heart {
    font-size: 15px;
    margin-right: 5px;
}

.p-packs .badge-likes .fa-heart {
    transition: 0.3s;
}

.p-packs .badge-likes:hover .fa-heart {
    transform: scaleX(-1);
}

.pack-item .card-body {
    padding: 20px 30px 25px;
}

.pack-item .card-title {
    font-size: 18px;
    font-weight: bold;
}

.pack-item .card-title a {
    color: inherit;
    text-decoration: none;
}

.pack-item .card-title a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pack-item .text-muted {
    color: #919191 !important;
}

.pack-item .card-footer {
    background-color: transparent;
    border-top: 1px solid #f5f5f5;
    border-radius: 0 0 6px 6px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pack-item__price {
    font-size: 30px;
    font-weight: bold;
}

.pack-item .btn {
    font-size: 14px;
    min-width: 130px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.p-packs__title-wrap .badge-likes {
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 17px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.p-packs__title-wrap .badge-likes .fa-heart {
    font-size: 24px;
    margin-right: 5px;
}

.pack-details {
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 0 15px;
}

.pack-details [class^="col"] {
    border-right: 1px solid #f5f5f5;
    display: flex;
}

.pack-details [class^="col"]:last-child {
    border-right: none;
}

.pack-details__col {
    padding: 20px 15px;
    width: 100%;
    margin: auto;
}

.pack-details__number {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
}

.pack-details .btn {
    font-size: 14px;
}

.pack-info [class^="col"] {
    display: flex;
}

.pack-info-item {
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    min-height: 350px;
    margin-bottom: 30px;
    transition: 0.4s;
}

.pack-info-item:hover {
    box-shadow: 0 0 30px 0 #cccccc;
}

.pack-info-item.active {
    background-color: #fffde8;
}

.pack-info-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.pack-info-item__icon {
    height: 60px;
    object-fit: scale-down;
    flex-shrink: 0;
    margin-right: 5px;
}

.pack-info-item__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}

.pack-info-item__body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pack-info-item__body a {
    text-decoration: none;
}

.pack-info-item__body mark {
    background-color: #fff6b1;
}

.pack-info-item__body .btn {
    font-size: 14px;
}

.pack-info-item__body p:last-child,
.pack-info-item__body ul:last-child {
    margin-bottom: 0;
}

.pack-info-item .badge-likes {
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 17px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.pack-info-item .badge-likes .fa-heart {
    font-size: 24px;
    margin-right: 5px;
}

@media (max-width: 991px) {
    .pack-details [class^="col"]:nth-child(2n) {
        border-right: none;
    }

    .pack-details [class^="col"]:nth-child(1),
    .pack-details [class^="col"]:nth-child(2) {
        border-bottom: 1px solid #f5f5f5;
    }
}

@media (max-width: 767px) {
    .p-packs__title-wrap h1 {
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .pack-details [class^="col"] {
        border-right: none;
    }

    .pack-details [class^="col"]:nth-child(3) {
        border-bottom: 1px solid #f5f5f5;
    }
}

