.lh-1 {
    line-height: 1;
}

.fs-50 {
    font-size: 50px;
}

.p-packs {
    background-color: #f5f5f5;
}

.p-packs__title-wrap {
    margin-bottom: 30px;
}

.p-packs__title-wrap h1 {
    margin-bottom: 0;
}

.p-packs__title-wrap select.form-control {
    height: 40px !important;
    padding: 0 50px 0 20px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: calc(100% - 16px) 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6' viewBox='0 0 9 6'%3E%3Cpath d='M4.5 6L0 0h9z' fill='%23c4c4c4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.p-packs__title-wrap .custom-control-label {
    font-size: 14px;
    line-height: 1.5rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #02945d;
}

.pack-list [class^="col"] {
    display: flex;
}

.pack-item {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: none;
    margin-bottom: 30px;
    transition: 0.4s;
}

.pack-item:hover {
    box-shadow: 0 0 30px 0 #cccccc;
}

.pack-item__img-wrap {
    height: 200px;
    border-radius: 6px 6px 0 0;
    position: relative;
    overflow: hidden;
}

.pack-item__img-wrap.bg-success {
    background-color: #6eba64 !important;
}

.pack-item__img-wrap.bg-warning {
    background-color: #f3d056 !important;
}

.pack-item__img-wrap.bg-dark {
    background-color: #ff3f3f !important;
}

.pack-item__img-wrap.bg-info {
    background-color: #7bc9dd !important;
}

.pack-item__img-wrap.bg-danger {
    background-color: #ffa27b !important;
}

.pack-item__img-wrap.bg-primary {
    background-color: #87bbfd !important;
}

.pack-item__img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: 50% 100%;
    transition: 0.4s;
}

.pack-item:hover .pack-item__img {
    transform: scale(1.07);
}

.pack-item__descr {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(255, 225, 90, 0.89);
    padding: 8px 30px;
}

.pack-item__panel {
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f6fbf2;
}

.p-packs .badge {
    font-size: 11px;
    font-weight: normal;
    border-radius: 3px;
    padding: 7px;
    z-index: 1;
    transition: 0.25s;
}

.p-packs .badge.badge-warning {
    background-color: #f5be58;
}

.p-packs .badge.badge-danger {
    background-color: #ffa27b;
    color: #333333;
}

.p-packs .badge.badge-primary {
    background-color: #87bbfd;
    color: #333333;
}

.p-packs .badge.badge-warning:hover {
    background-color: #f3b138;
}

.p-packs .badge.badge-danger:hover {
    background-color: #fe8755;
}

.p-packs .badge.badge-primary:hover {
    background-color: #60a5fc;
}

.pack-item .badge-likes {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 5px 7px;
}

.pack-item .badge-likes .fa-heart {
    font-size: 15px;
    margin-right: 5px;
}

.p-packs .badge-likes .fa-heart {
    transition: 0.3s;
}

.p-packs .badge-likes:hover .fa-heart {
    transform: scaleX(-1);
}

.pack-item .card-body {
    padding: 20px 30px 25px;
}

.pack-item .card-title {
    font-size: 18px;
    font-weight: bold;
}

.pack-item .card-title a {
    color: inherit;
    text-decoration: none;
}

.pack-item .card-title a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.pack-item .text-muted {
    color: #919191 !important;
}

.pack-item .card-footer {
    background-color: transparent;
    border-top: 1px solid #f5f5f5;
    border-radius: 0 0 6px 6px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pack-item__price {
    font-size: 30px;
    font-weight: bold;
}

.pack-item .btn {
    font-size: 14px;
    min-width: 130px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.p-packs__title-wrap .badge-likes {
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 17px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.p-packs__title-wrap .badge-likes .fa-heart {
    font-size: 24px;
    margin-right: 5px;
}

.pack-details {
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 0 15px;
}

.pack-details [class^="col"] {
    border-right: 1px solid #f5f5f5;
    display: flex;
}

.pack-details [class^="col"]:last-child {
    border-right: none;
}

.pack-details__col {
    padding: 20px 15px;
    width: 100%;
    margin: auto;
}

.pack-details__number {
    font-size: 50px;
    line-height: 1.2;
    font-weight: bold;
}

.pack-details .btn {
    font-size: 14px;
}

.pack-info [class^="col"] {
    display: flex;
}

.pack-info-item {
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    min-height: 350px;
    margin-bottom: 30px;
    transition: 0.4s;
}

.pack-info-item:hover {
    box-shadow: 0 0 30px 0 #cccccc;
}

.pack-info-item.active {
    background-color: #fffde8;
}

.pack-info-item__header {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.pack-info-item__icon {
    height: 60px;
    object-fit: scale-down;
    flex-shrink: 0;
    margin-right: 5px;
}

.pack-info-item__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}

.pack-info-item__body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pack-info-item__body a {
    text-decoration: none;
}

.pack-info-item__body mark {
    background-color: #fff6b1;
}

.pack-info-item__body .btn {
    font-size: 14px;
}

.pack-info-item__body p:last-child,
.pack-info-item__body ul:last-child {
    margin-bottom: 0;
}

.pack-info-item .badge-likes {
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 17px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.pack-info-item .badge-likes .fa-heart {
    font-size: 24px;
    margin-right: 5px;
}

/* experts */

.p-experts {
    background-color: #f6faf8;
}

.add-expert-btn {
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.expert-list .expert-card {
    margin-bottom: 20px;
}

.expert-list .expert-card:last-child {
    margin-bottom: 0;
}

.expert-card {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 15px;
    transition: 0.3s;
}

.expert-card:hover {
    box-shadow: 0 3px 20px 0 rgba(124, 124, 124, 0.16);
}

.expert-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #d1d1d1;
    padding: 3px;
    position: relative;
    flex-shrink: 0;
}

.expert-avatar.border-warning {
    border-color: #ff9416 !important;
}

.expert-avatar.border-success {
    border-color: #c0e5bf !important;
}

.expert-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.expert-avatar__badge {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f4ca1d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.expert-avatar__badge--winner {
    width: 26px;
    height: 23px;
    border-radius: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.794' height='22.55' viewBox='0 0 25.794 22.55'%3E%3Cdefs%3E%3CradialGradient id='a' cx='.5' cy='.5' r='.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23ffdf7f'/%3E%3Cstop offset='1' stop-color='%23ffca57'/%3E%3C/radialGradient%3E%3C/defs%3E%3Cpath d='M18.952-.003H6.843a.788.788 0 00-.682.394L.106 10.881a.788.788 0 000 .788L6.16 22.156a.788.788 0 00.682.394h12.11a.788.788 0 00.682-.394l6.055-10.487a.788.788 0 000-.788L19.634.397a.788.788 0 00-.682-.4z' fill='%23ffd45d'/%3E%3Cpath d='M25.794 11.275h-5.163l-3.867 6.7 2.581 4.471a.787.787 0 00.288-.288l6.055-10.487a.787.787 0 00.106-.396z' fill='%23ff6500'/%3E%3Cpath d='M16.765 17.973H9.031l-2.582 4.471a.787.787 0 00.394.105h12.106a.787.787 0 00.394-.105z' fill='%23ff9416'/%3E%3Cpath d='M9.03 17.975l-3.867-6.7H0a.787.787 0 00.106.394L6.16 22.156a.788.788 0 00.288.288z' fill='%23ffc13f'/%3E%3Cpath d='M9.03 4.577L6.449.109a.787.787 0 00-.288.288L.106 10.881a.787.787 0 00-.106.394h5.163z' fill='%23ffd45d'/%3E%3Cpath d='M9.03 4.577h7.734L19.345.106A.787.787 0 0018.951 0H6.843a.787.787 0 00-.394.106z' fill='%23ffc13f'/%3E%3Cpath d='M16.764 4.577l3.867 6.7h5.163a.787.787 0 00-.106-.394L19.634.394a.787.787 0 00-.288-.288z' fill='%23ff9416'/%3E%3Cpath d='M115.053 123.047h-8.383l-4.191 7.259 4.191 7.259h8.382l4.191-7.259z' transform='translate(-97.964 -119.031)' fill='url(%23a)'/%3E%3C/svg%3E");
    color: #775936;
}

.expert-card__info {
    overflow: hidden;
}

.expert-card__name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
}

.expert-card__position {
    font-size: 14px;
    color: #919191;
    margin-top: 2px;
}

.expert-card__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    margin-bottom: -7px;
}

.expert-card__link {
    width: calc(100% / 3 - 10px);
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 7px;
}

.expert-card__link:nth-child(3n) {
    margin-right: 0;
}

.expert-card__link i {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
}

.expert-card__link .icon-web {
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' viewBox='0 0 19 19'%3E%3Cpath d='M9.5 0A9.5 9.5 0 1019 9.5 9.493 9.493 0 009.5 0zm0 1.933A13.157 13.157 0 0111.314 5.7H7.686A13.155 13.155 0 019.5 1.933zM2.147 11.4a7.431 7.431 0 010-3.8h3.206a15.623 15.623 0 00-.128 1.9 14.719 14.719 0 00.133 1.9zm.774 1.9h2.8a15.215 15.215 0 001.311 3.387A7.616 7.616 0 012.921 13.3zm2.8-7.6h-2.8a7.616 7.616 0 014.114-3.387A15.218 15.218 0 005.724 5.7zM9.5 17.067A13.41 13.41 0 017.685 13.3h3.629A13.408 13.408 0 019.5 17.067zm2.223-5.667H7.277a13.2 13.2 0 01-.152-1.9 13.205 13.205 0 01.152-1.9h4.446a13.2 13.2 0 01.152 1.9 13.2 13.2 0 01-.152 1.9zm4.351-5.7h-2.8a15.09 15.09 0 00-1.311-3.382A7.608 7.608 0 0116.074 5.7zm-4.109 10.982a15.179 15.179 0 001.311-3.382h2.8a7.641 7.641 0 01-4.111 3.382zm1.677-5.282a15.619 15.619 0 00.133-1.9 14.719 14.719 0 00-.133-1.9h3.206a7.605 7.605 0 01.252 1.9 7.393 7.393 0 01-.252 1.9z' fill='%23a1b1ab'/%3E%3C/svg%3E");
}

.expert-card__link .fa-facebook-f {
    background-color: #3a70b4;
}

.expert-card__link .fa-instagram {
    background-image: linear-gradient(#af41ff 0%, #e09404 100%);
    font-size: 14px;
}

.expert-card__link .fa-vk {
    background-color: #7596b7;
}

.expert-card__link .fa-twitter {
    background-color: #37b8d6;
}

.expert-card__link a {
    color: inherit;
}

.expert-card__link .badge {
    background-color: #fff6b1;
    font-size: 11px;
    font-weight: normal;
    padding: 4px 8px;
}

.expert-like {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1ebe6;
    border-color: #e1ebe6;
    color: #b2d0c1;
}

.expert-like.active {
    background-color: #f44357;
    color: #ffffff;
}

.expert-like__plus {
    position: absolute;
    right: -4px;
    top: -4px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #008e59;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 8px;
    opacity: 0;
    transition: 0.25s;
}

.expert-card:hover .expert-like__plus {
    opacity: 1;
}

.expert-like:hover .expert-like__plus {
    background-color: #f44357;
}

.expert-like.active .expert-like__plus {
    display: none;
}

.add-more-btn {
    padding: 0;
}

.add-more-btn.btn.btn-link:hover {
    background: transparent;
    border-color: transparent;
    color: #02945D;
}

@media (max-width: 991px) {
    .pack-details [class^="col"]:nth-child(2n) {
        border-right: none;
    }

    .pack-details [class^="col"]:nth-child(1),
    .pack-details [class^="col"]:nth-child(2) {
        border-bottom: 1px solid #f5f5f5;
    }
}

@media (max-width: 767px) {
    .p-packs__title-wrap h1 {
        margin-bottom: 15px;
    }
}

@media (max-width: 575px) {
    .pack-details [class^="col"] {
        border-right: none;
    }

    .pack-details [class^="col"]:nth-child(3) {
        border-bottom: 1px solid #f5f5f5;
    }
}

